.sidenav-container {
  height: 100vw;
  position: absolute;

}

mat-toolbar{
  background-color: transparent;
}


mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-sidenav {
  width: 250px;
}
