<app-menu></app-menu>
<h1>Szabályzat</h1>
<ol>
    <li>אָנֹכִי יְהוָה אֱלֹהֶיךָ</li>
    <li style="color: rebeccapurple;">לֹא-יִהְיֶה לְךָ אֱלֹהִים אֲחֵרִים עַל-פָּנָי</li>
    <li>לֹא תִשָּׂא אֶת-שֵׁם-יְהוָה אֱלֹהֶיךָ לַשָּׁוְא</li>
    <li>זָכוֹר אֶת-יוֹם הַשַּׁבָּת לְקַדְּשׁוֹ</li>
    <li>כַּבֵּד אֶת-אָבִיךָ וְאֶת-אִמֶּךָ</li>
    <li>לֹא תִרְצָח</li>
    <li>לֹא תִנְאָף</li>
    <li>לֹא תִגְנֹב</li>
    <li>לֹא-תַעֲנֶה בְרֵעֲךָ עֵד שָׁקֶר</li>
    <li>לֹא תַחְמֹד בֵּית רֵעֲךָ</li>
  </ol>
  
