.avatar{
    width: 200px;
    height: 200px;
    background-size:cover;
    background-repeat: no-repeat;
    float: left;
    margin-right: 50px;
}



.candidate-card{
    margin: auto;
    background-color: rgb(164, 206, 208);
    width: 50%;
    margin-top: 50px;

}



