<div id="bruh">
  <div id="centerbox">
      <h1>Találd meg <span>életed párját</span> bűnözőként!</h1>
      <p>Már csak néhány lépés választ el attól, hogy megtaláld a tökéletes bűntársat. Készen állsz? Akkor vágjunk bele!</p>
      <p style="font-weight: bold;">Várjuk jelentkezésed, ha:</p>
      <ul>
        <li>Keresed a társad</li>
        <li>Megjártad a börtönt (vagy meg fogod)</li>
        <li>Szeretnél egy fiatalos csapat tagja lenni</li>
      </ul>
      <h2><a [routerLink]="['/register']">Regisztrálj most!</a></h2>
    </div> 
</div>
  
  