body {
    overflow: visible;
    height: fit-content;
}

.errormsg {
    color: red;
}

.container {
    width: 60%;
    margin: 0 auto; 
}

mat-step {
    padding: 20px;
}

mat-form-field {
    width: 48%;
    margin-right: 10px;
    display: inline-block;
}

.mat-form-field-wrapper {
    margin-bottom: 0;
}

.mat-checkbox-layout {
    margin-bottom: 0.25rem;
}

.mat-checkbox-inner-container {
    margin-right: 8px;
}
